

.cardFrameBackground{
    position: absolute;
    z-index : -1;   
    max-height : 700px;
    max-width: 500px;
}
.cardFrameForeground{
    position: absolute;
    z-index : 1;   
    max-height : 700px;
    max-width: 500px;
}
.cardImage{
    position: absolute;
    z-index: 0;
    max-height: 350px;
    max-width: 350px;
    min-height: 240px;
    min-width: 200px;
   top: 10px;
   left:3%;   
}
#cardTitle{

    
    height: 40px;
}
.mainCardBody{   
    max-height: 350px;
    margin-top: 50px;
    max-width: 400px; 
    
}
.statContainer{
    position: absolute;
    z-index: 2;
    max-width: 500px; 
    text-align: center;
}

.rightStatInfo{
    position: absolute;
    z-index: 2;
    right: 50px;
    text-align: center;
    padding-right: 12px;
    max-width: 155px;
    min-width: 130px;
    max-height: 590px;
    overflow: hidden;
}
.titled{
    font-size: 18px;
    margin-bottom: 0;
    word-wrap: break-word; 
}
.originStory{
    position: absolute;
    text-align: center;
    width: 300px;
    top: 350px;
    z-index: 2;
    overflow: hidden;
}
.statDetails{
    font-size: 15px;
}
.stat{
    width:30px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid ;
    border-color: rgba(0, 0, 0, 0.644);
    border-radius: 40%;
   
}
.bubblesContainer{ 
    width: 300px;
    height: 200px;   
    margin-left: 15px;
    top: 230px;
}
.bubblesRow{
    height: 70px;
}
.bubblesRow2{
    height: 70px;
    width: 230px;
    margin-left: 39px;
    margin-top: -28px;
}
.colBlend{
    margin-left: -20px;
    
}
.originStory .titled{
    font-size: 25px;
}
.originStory .statDetails{
    font-size: 20px;
    max-height: 260px;
}


