.artwork-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Positioning for the absolute image */
}

.artwork-title {
    margin-bottom: 8px; /* Spacing between text and image */
    font-weight: bold;   /* Bold text */
}

.lichking-img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    visibility: hidden; /* Hide the image by default */
    position: absolute; /* Position it absolutely within the button */
    top: 40px; /* Adjust position as necessary */
    left: 50%; /* Center the image */
    transform: translateX(-50%); /* Center alignment */
}

.artwork-container:hover .lichking-img {
    visibility: visible; /* Show the image on hover */
}
