.bg_container {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    width: 100%;
    height: 100%;
    min-height: 2340px;
    z-index: -1; /* Ensure the background appears behind other content */
  }
  
  .background {
    display:flex;
    width: 100%;
    height: 100%;
  }